name: Continuous Integration

on: [push]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install latest rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: x86_64-unknown-linux-musl
          default: true
          override: true

      - name: Build
        run: cargo build --all --release --target x86_64-unknown-linux-musl

      - name: Package
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          VERSION=${GITHUB_REF##*/}
          TARGET=x86_64-unknown-linux-musl
          mkdir hurriname-${VERSION}-${TARGET}
          strip target/${TARGET}/release/hurriname
          mv target/${TARGET}/release/hurriname hurriname-${VERSION}-${TARGET}/hurriname
          cp LICENSE.md hurriname-${VERSION}-${TARGET}/LICENSE.md
          tar -czvf hurriname-${VERSION}-${TARGET}.tar.gz hurriname-${VERSION}-${TARGET}

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            hurriname-*.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build-macos:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install latest rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: x86_64-apple-darwin
          default: true
          override: true

      - name: Build
        run: cargo build --all --release --target x86_64-apple-darwin

      - name: Package
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          VERSION=${GITHUB_REF##*/}
          TARGET=x86_64-apple-darwin
          mkdir hurriname-${VERSION}-${TARGET}
          strip target/${TARGET}/release/hurriname
          mv target/${TARGET}/release/hurriname hurriname-${VERSION}-${TARGET}/hurriname
          cp LICENSE.md hurriname-${VERSION}-${TARGET}/LICENSE.md
          tar -czvf hurriname-${VERSION}-${TARGET}.tar.gz hurriname-${VERSION}-${TARGET}

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            hurriname-*.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
